.ds-theme {
  --gap: 16px;
  --padding-vertical: 8px;
  --padding-horizontal: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

.ds-theme-defaults {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ds-theme-black {
  --primary-background-color: hsl(0, 0%, 0%);
  --secondary-background-color: hsl(0, 0%, 10%);
  --disabled-background-color: hsl(0, 0%, 20%);
  --active-background-color: hsl(0, 0%, 30%);
  --hover-background-color: hsl(0, 0%, 40%);
  --border-color: hsl(0, 0%, 50%);
  --secondary-text-color: hsl(0, 0%, 60%);
  --disabled-text-color: hsl(0, 0%, 80%);
  --primary-text-color: hsl(0, 0%, 100%);
}

.ds-theme-white {
  --primary-background-color: hsl(0, 0%, 100%);
  --secondary-background-color: hsl(0, 0%, 90%);
  --disabled-background-color: hsl(0, 0%, 80%);
  --active-background-color: hsl(0, 0%, 70%);
  --hover-background-color: hsl(0, 0%, 60%);
  --border-color: hsl(0, 0%, 50%);
  --secondary-text-color: hsl(0, 0%, 40%);
  --disabled-text-color: hsl(0, 0%, 20%);
  --primary-text-color: hsl(0, 0%, 0%);
}

/* .ds-hoverable:hover {
  --secondary-text-color: var(--disabled-text-color);
}
.ds-background-hover {
  --secondary-text-color: var(--disabled-text-color);
} */

.ds-background-primary {
  background-color: var(--primary-background-color);
}

.ds-background-secondary {
  background-color: var(--secondary-background-color);
}

.ds-background-active {
  background-color: var(--active-background-color);
}

.ds-background-disabled {
  background-color: var(--disabled-background-color);
}

.ds-background-hover {
  background-color: var(--hover-background-color);
}

.ds-font-color-primary {
  color: var(--primary-text-color);
}

.ds-font-color-secondary {
  color: var(--secondary-text-color);
}

.ds-font-color-disabled {
  color: var(--disabled-text-color);
}

.ds-font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.ds-font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.ds-border-round {
  border-radius: 8px;
}

.ds-border {
  border: 1px solid var(--border-color);
}

.ds-border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.ds-hoverable:hover {
  background-color: var(--hover-background-color);
}

.ds-padding {
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.ds-gap {
  gap: var(--gap);
}

.ds-button {
  color: inherit;
  background-color: var(--primary-background-color);
  border: none;
  padding: var(--padding-vertical) var(--padding-horizontal);
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-background-color);
  }
  &:hover {
    background-color: var(--hover-background-color);
  }
}
